/* Reset default margin, padding, font-family, and box-sizing */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Container styling */
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}

/* Styling for the todo app section */
.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

/* Header styling within the todo app */
.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}

/* Styling for the row containing input and button */
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

/* Styling for the input field */
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

/* Styling for the button */
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  transition: background 0.2s;
}

button:hover {
  background: #e04838;
}

/* Styling for the unordered list and list items */
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

/* Styling for the checkbox before each list item */
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url("img/unchecked.png");
  background-size: cover;
  background-position: center;
  top: 7.8px;
  left: 8px;
}

/* Styling for checked items */
ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url("img/checked.png");
}

/* Styling for the removal button */
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: background 0.2s;
}

ul li span:hover {
  background: #edeef0;
}
